body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #000000;
  }
  
  .container {
    width: 100%;
    padding: 20px;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #111;
    padding: 10px;
  }
  
  .logo {
    font-size: 24px;
    color: #4CAF50;
  }
  
  .hamburger {
    font-size: 30px;
    cursor: pointer;
    color: #fff;
  }
  
  .nav {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #333333;
    padding: 20px;
  }
  
  .nav ul {
    list-style-type: none;
  }
  
  .nav ul li {
    margin: 10px 0;
  }
  
  .searchBar {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }
  
  .searchBar input {
    padding: 10px;
    width: 80%;
    border-radius: 5px;
    border: none;
  }
  
  .searchBar button {
    padding: 10px;
    width: 15%;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    color: #fff;
  }
  
  .especialidadesList {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
  }
  
  .especialidadesList h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .especialidadesList ul {
    list-style-type: none;
    padding: 0;
  }
  
  .especialidadesList li {
    padding: 10px;
    margin-bottom: 5px;
    background-color: #f4f4f4;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .especialidadesList li:hover {
    background-color: #e0e0e0;
  }
  
  .selectedEspecialidade {
    margin-top: 20px;
    padding: 10px;
    background-color: #f4f4f4;
    border-radius: 5px;
  }
  
.tableContainer table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
  }
  
  .tableContainer th,
  .tableContainer td {
    padding: 10px;
    text-align: left;
    border: 1px solid #444;
  }
  
  .tableContainer th {
    background-color: #4CAF50;
  }
  

