* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #f4f6fb;
  color: #333;
}


.navbar {
  width: 100%;
  background: #000;
  padding: 15px 0;
  display: flex;
  justify-content: center;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 30px;
}

.navbar li {
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.navbar li:hover {
  color: #4ade80;
}

.hero {
  text-align: center;
  padding: 80px 20px;
}

.hero h1 {
  font-size: 22px;
  margin-bottom: 20px;
}

.hero h2 {
  font-size: 32px;
  margin-bottom: 20px;
}


.hero p {
  max-width: 650px;
  margin: 0 auto 40px;
  font-size: 18px;
  line-height: 1.5;
}

.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.hero-buttons button {
  padding: 12px 24px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: 0.3s;
}

.button-green {
  background: #22c55e;
  color: white;
}

.button-green:hover {
  background: #16a34a;
}

.navbar {
  width: 100%;
  background: #000;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.navbar-content {
  width: 90%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  gap: 30px;
}

.navbar-logo {
  border-radius: 8px;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 30px;
}

.navbar li {
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.navbar li:hover {
  color: #4ade80;
}

.navbar-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 30px;
}

.navbar-logo img {
  border-radius: 6px;
}

.menu-desktop {
  display: flex;
  gap: 30px;
  align-items: center;
}

.menu-icon {
  display: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .menu-desktop {
    display: none;
  }

  .menu-icon {
    display: block;
    margin-left: auto;
  }
}

.drawer {
  position: fixed;
  top: 0;
  right: -300px;
  width: 300px;
  height: 100vh;
  background: #111;
  padding: 20px;
  transition: right 0.3s;
  z-index: 999;
}

.drawer-open {
  right: 0;
}

.drawer-header {
  display: flex;
  justify-content: flex-end;
}

.drawer-close {
  font-size: 32px;
  color: white;
  cursor: pointer;
}

.drawer-list {
  list-style: none;
  margin-top: 40px;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.drawer-list li {
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  color: white;
  font-size: 18px;
  cursor: pointer;
}